<!--- a base template for all page --->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Meme @ ComedySci {% endblock %}</title>
    <style>
        table, th, td {
            border:1px solid black;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Comedy Science, KMITL</h1>
    <h2 style="text-align: center;">05000100 Algorithms and Memes</h2>
    <hr>
    <br>

    {% block content %}
        <h2>Error 404</h2>>
    {% endblock %}

    <br>
    <hr>

    <h4 style="text-align: center;">Copyright 2022 CS KMITL</h4>
    <h4 style="text-align: center;">Create with <3 by 62050199 Paul Hochaicharoen</h4>
</body>
</html>